.sidebar {
  display: flex;
  flex: 0.35; // 画面全体の35％幅に設定

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23262d;
    padding: 7px 15px;
    gap: 10px;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: #3b3c3e;
      border-radius: 9999px;
      position: relative;
      margin-top: 10px;
      img {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: #2b2d33;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;

    .sidebarTop {
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 15px;

      .sidebarChannelsHeader {
        display: flex;
        color: white;
        justify-content: space-between;
        margin-top: 10px;
        .sidebarHeader {
          display: flex;
          gap: 5px;
          font-size: 1.2rem;
        }
        .sidebarAddIcon {
          cursor: pointer;
        }
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      padding-bottom: 10px;
      border-top: 1px solid #686a6e;
      padding-top: 10px;
      margin-left: -3px;

      .sidebarAccount {
        display: flex;
        align-items: center;
        img {
          width: 50px;
          border-radius: 50%;
        }
        &:hover {
          cursor: pointer;
        }
        .accountName {
          margin-left: 5px;

          h4 {
            color: white;
            font-weight: 500;
          }

          span {
            color: #686a6e;
          }
        }
      }

      .sidebarVoice {
        display: flex;
        align-items: center;
        color: #686a6e;
      }
    }
  }
}
